@import "tailwindcss";

@theme {
    --color-bg: #181a1b;

    --color-bg-50: #151617;
    --color-bg-100: #131314;
    --color-bg-200: #101011;
    --color-bg-300: #0d0d0e;
    --color-bg-400: #0b0b0c;
    --color-bg-500: #09090a;
    --color-bg-600: #070708;
    --color-bg-700: #050506;
    --color-bg-800: #030304;
    --color-bg-900: #010102;
    --color-bg-950: #000000;

    --color-fg: #ffffff;

    --color-fg-50: #f2f2f2;
    --color-fg-100: #e5e5e5;
    --color-fg-200: #cccccc;
    --color-fg-300: #b3b3b3;
    --color-fg-400: #9a9a9a;
    --color-fg-500: #808080;
    --color-fg-600: #666666;
    --color-fg-700: #4d4d4d;
    --color-fg-800: #333333;
    --color-fg-900: #1a1a1a;
    --color-fg-950: #0d0d0d;

    --color-bg-reverse: #e7e5e4;
    --color-fg-reverse: #000;
    --color-accent: #8F12DC;
    --color-accent-light: #B563E8;
    --color-secondary: #A008A8;
    --color-primary: #5F16E9;
    --font-main: 'Rubik', sans-serif;
    --font-header: 'Montserrat', monospace;
    --text-h1: 4.2rem;
    --text-h2: 2.4rem;
    --text-h3: 1.6rem;
    --text-h4: 1.1rem;
}

@media (max-width: 1024px) {
    :root {
        --text-h1: 3.4rem;
        --text-h2: 2rem;
        --text-h3: 1.4rem;
        --text-h4: 1rem;
    }
}

@media (max-width: 640px) {
    :root {
        --text-h1: 2.6rem;
        --text-h2: 1.8rem;
        --text-h3: 1.2rem;
        --text-h4: 0.95rem;
    }
}

#root {
    @apply bg-bg text-fg;
}

body {
    @apply font-main;
}

.container {
    @apply lg:w-[96%] w-full mx-auto max-w-[1400px];
}

.glass {
    --bg: rgba(255, 255, 255, 0.08);
    --strength: 1;
    @apply bg-[var(--bg)] overflow-hidden lg:rounded-4xl;
    backdrop-filter: blur(calc(12px * var(--strength))) saturate(calc(180% * var(--strength)));
    -webkit-backdrop-filter: blur(calc(12px * var(--strength))) saturate(calc(180% * var(--strength)));
    border: 1px solid color-mix(in srgb, var(--color-fg) calc(20% * var(--strength)), transparent);
    box-shadow:
        inset -1px -1px rgba(255, 255, 255, calc(0.15 * var(--strength))),
        inset 1px 1px rgba(255, 255, 255, calc(0.05 * var(--strength))),
        0 4px 30px rgba(0, 0, 0, calc(0.25 * var(--strength)));
}


.hover-underline {
    @apply relative;
}

.hover-underline::after {
    content: "";
    @apply absolute left-0 bottom-0 h-px w-full scale-x-0 origin-right transition-transform duration-400 ease-in-out;
}

.hover-underline:hover::after {
    @apply scale-x-100 origin-left;
}

.underline-transition {
    @apply relative;
}

.underline-transition::after {
    content: "";
    @apply absolute left-0 bottom-0 h-px w-full transition-transform will-change-transform duration-300 -translate-y-1/2;
}

.underline-transition:hover::after {
    @apply translate-y-full;
}

.bg-transition {
    background-size: cover;
    transition: 300ms;
}

.bg-transition:hover {
    background-size: 110%;
}

@media (max-width: 768px) {
    .decor {
        display: none;
    }
}



/* HEADER */
.header {
    background: url('/header/bg.png');
    background-attachment: fixed;
    background-position: center;
    will-change: backhround-size;
    animation: header__init 2600ms forwards ease-out;
    background-size: cover;
}

@media (orientation: portrait) {
    .header {
        background: url('/header/bg-mobile.png');
    }
}

@keyframes header__init {
    from {
        background-size: 160%;
    }

    40% {
        background-size: 160%;
    }

    to {
        background-size: 180%;
    }
}

.header__card {
    width: 0;
    --w: 60vw;
    --h: 50vh;
    height: var(--h);
    bottom: 100vh;
    left: 50%;
    animation: header__card__init 3.3s forwards cubic-bezier(0.3, 1, 0.5, 1);
    transform: translate(-50%, 50%);
    --opacity: 0;
    --translate-y: 20%;
    @apply absolute flex flex-col items-center justify-center gap-18;
}

@media (orientation: portrait) {
    .header__card {
        animation-duration: 0s;
    }
}

@media (max-width: 768px) {
    .header__card {
        --w: 100vw;
    }
}

.header__card * {
    opacity: var(--opacity);
    transform: translateY(var(--translate-y));
    transition: 300ms;
}

@keyframes header__card__init {
    from {
        bottom: calc(100vh + var(--h));
        width: 4vw;
    }

    4% {
        bottom: calc(100vh + var(--h));
        width: 4vw;
    }

    33% {
        width: 4vw;
        bottom: 50vh;
    }

    66% {
        width: var(--w);
        bottom: 50vh;
        --opacity: 0;
        --translate-y: 20%;
    }

    to {
        width: var(--w);
        bottom: 50vh;
        --opacity: 1;
        --translate-y: 0;
    }
}

.header__button {
    @apply lg:px-9 lg:py-4 px-6 py-3 border-2 text-base md:text-xl border-fg rounded-full bg-transparent text-fg hover:bg-fg hover:text-fg-reverse hover:cursor-pointer font-medium
}

.navbar {
    --bg: color-mix(in srgb, var(--color-bg) 50%, transparent);
}

.navbar:not(.active) {
    @apply -translate-y-[calc(100%+.5rem)];
}

.navbar__link {
    @apply cursor-pointer transition duration-300 hover:text-accent-light;
}